n8n-workflow.json
{
  "name": "Anomaly Scoring - FastAPI",
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "body",
              "value": "{\"transactions\": [{\"transaction_id\":\"tx1\",\"amount\":1200.0,\"merchant_id\":\"m1\",\"customer_id\":\"c1\"},{\"transaction_id\":\"tx2\",\"amount\":5.0,\"merchant_id\":\"m2\",\"customer_id\":\"c2\"}]}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Batch",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://scoring:8000/score",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{JSON.parse($node[\"Set Batch\"].json[\"body\"])}}"
      },
      "name": "HTTP Request - Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const results = $json[\"results\"] || [];\nreturn results.map(r => ({ json: r }));"
      },
      "name": "Parse Results",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        780,
        300
      ]
    }
  ],
  "connections": {
    "Set Batch": {
      "main": [
        [
          {
            "node": "HTTP Request - Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Score": {
      "main": [
        [
          {
            "node": "Parse Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
